.container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    
    .box {
      width: 50%;
      height: 50%;
    }
  }
  
  #errorMessage {
    color: red;
    display: none;
  }