$primary-color: #f8e1e7; 
$secondary-color: #fff;
$accent-color: #ff69b4; 
$button-color: #add8e6; 
$text-color: #333;
$border-color: #ddd;
$hover-transform: translateY(-5px);

$font-family: "Frank Ruhl Libre";

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap" rel="stylesheet');


body {
    $font-family: $font-family;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    padding: 20px;
    color: $text-color;
}

.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;

    .nav-list{
        display: flex;
        list-style: none;
        gap: 20px;

        li{
            a{
                text-decoration: none;
                color: #000;
                font-weight: 600;
                font-size: 0.9em;
                transition: color 0.3s;
                &:hover{
                    color: #ff69b4;
                }
            }
        }
    }

    .nav-icons{
        display: flex;
        list-style: none;
        gap: 20px;
        li{
            a{
                display: flex;
                align-items: center;
                position: relative;
                img{
                    width: 20px;
                    height: 20px;
                    filter: invert(0.7);
                }
                .cart-count{
                    position: absolute;
                    background-color: #ff69b4;
                    color: #fff;
                    top: -5px;
                    right: -10px;
                    border-radius: 50%;
                    padding: 2px 6px;
                    font-size: 0.7em;
                    font-weight: bold;
                }
            }
        }

    }
}

header {
    background-color: $secondary-color;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;

    .title {
        margin: 0 0 20px;
        font-size: 3em;
        color: $accent-color;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        label {
            font-weight: bold;
            margin-right: 10px;
        }

        input, select {
            padding: 10px;
            border: 1px solid $border-color;
            border-radius: 5px;
            font-size: 1em;
            margin-right: 10px;
            flex: 1;
            max-width: 200px;
        }

        button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: $button-color;
            color: $secondary-color;
            cursor: pointer;
            font-size: 1em;
            transition: background-color 0.3s;

            &:hover {
                background-color: darken($button-color, 10%);
            }
        }
    }
}

.product-container {
    font-family: $font-family;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
}

.product {
    font-family: $font-family;
    background-color: $secondary-color;
    border: 1px solid $border-color;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
        transform: $hover-transform;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    img {
        width: 100px;
        height: auto;
        border-bottom: 1px solid $border-color;
        margin-bottom: 16px;
    }

    h2 {
        font-size: 1.2em; 
        margin: 0.5em 0;
        color: $accent-color;
    }

    p {
        margin: 0.5em 0;
        color: #555;

        &:nth-of-type(1) {
            font-weight: bold;
        }
    }

    .button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: $button-color;
        color: $secondary-color;
        cursor: pointer;
        font-size: 1em;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken($button-color, 10%);
        }
    }
}

///footer
footer {
    background-color: #111;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    font-size: 0.9em;
    .newsletter-signup{
        p{
            color: #ff69b4;
            font-size: 1.2em;
            margin: 0;
            padding: 0;
        }
        .hashtag{
            color: #c60081;
        }
        form{
            margin: 20px 0;
            input[type="email"]{
                padding: 10px;
                border: none;
                border-radius: 5px;
                width: 250px;
                margin-right: 10px;
                font-size: 1em;
            }
            .button{
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                background-color: $accent-color;
                color: #111;
                cursor: pointer;
                font-size: 1em;
                transition: background-color 0.3s;
                &:hover{
                    background-color: #555;
                }
            }
        }
     .social-media{
        margin: top 20px;
        a{
            margin: 0 5px;
            display: inline-block;
        }
        img{
            width: 24px;
            height: 24px;
            filter: invert(1);
        }
     }
    }
    p{
        margin-top: 40px;
        font-size: 0.8em;
        color: #777;
    }
    .error-message {
        color: #ff3333; 
        margin-top: 10px;
        font-size: 0.9em;
        text-align: left;
    }
    
 };

 
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    header {
        padding: 15px;
        .title {
            font-size: 2.5em;
        }

        form {
            flex-direction: column;
            align-items: center;

            input, select {
                max-width: 100%;
                margin-right: 0;
            }

            button {
                margin-top: 10px;
                width: 100%;
                max-width: 200px;
            }
        }
    }

    .product-container {
        grid-template-columns: 1fr;
    }

    .product {
        padding: 10px;

        img {
            width: 80px;
        }

        h2 {
            font-size: 1em;
        }

        .button {
            width: 100%;
            max-width: 150px;
        }
    }

    footer {
        padding: 8px;
        font-size: 0.8em;
    }
}
@media (max-width: 600px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        position: relative;

        .nav-list {
            display: none; 
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }

        .nav-icons {
            margin-top: 10px;
            justify-content: space-between;
            width: 100%;
        }

        .burger-menu {
            display: block;
            cursor: pointer;
            padding: 10px;
            background-color: $secondary-color;
            border: 1px solid $border-color;
            border-radius: 5px;

            &:before {
                content: '☰'; 
                font-size: 1.5em;
            }
        }

        &.active .nav-list {
            display: flex; 
        }
    }

    footer {
        padding: 15px;
        font-size: 0.8em;

        .newsletter-signup form {
            flex-direction: column;
            align-items: center;

            input[type="email"] {
                margin-bottom: 10px;
                width: 100%;
                max-width: 300px;
            }

            .button {
                width: 100%;
                max-width: 300px;
            }
        }

        .social-media {
            margin-top: 20px;

            a {
                margin: 0 10px;
            }
        }
    }
}
